<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cursokotlin.concelloteo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconoabertura"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconoabertura"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConcelloTeo">

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mapaCacheiras"
            android:exported="false" />
        <activity
            android:name=".mapaReis"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".mapaRaris"
            android:exported="false" />
        <activity
            android:name=".obradoiros"
            android:exported="false" />
        <activity
            android:name=".concertos"
            android:exported="false" />
        <activity
            android:name=".mercados"
            android:exported="false" />
        <activity
            android:name=".nadal"
            android:exported="false" />
        <activity
            android:name=".entroido"
            android:exported="false" />
        <activity
            android:name=".festasGastronomicas"
            android:exported="false"
            android:label="@string/title_activity_festa_gastronomica_scrolling"
            android:theme="@style/Theme.ConcelloTeo.NoActionBar"/>
        <activity
            android:name=".batalla"
            android:exported="false" />
        <activity
            android:name=".actividades"
            android:exported="false" />
    </application>

</manifest>